awscli
bcrypt
bids
brainiak
dicom
indexed_gzip
inflect
inotify
ipython
jupyter
matplotlib
mypy
nibabel
nilearn
nodejs
numpy
pandas
pybids
pydicom
pyOpenSSL
python_bcrypt
python_dateutil
requests
rpyc
scikit_learn
scipy
toml
tornado
watchdog
websocket_client
wsaccel
